.page-redeem {
background-image: url("../../assets/icon/background.jpg");
.upper-box{
    background-image: url("../../assets/icon/redeem/uperbox.png");
    background-size: 274px;
    background-repeat: no-repeat;
    min-height: 80px;
    width: 100%;
    margin: 10px;  
     text-align: center;

}
  .big-box{
    background-image: url("../../assets/icon/redeem/big-box.png");
    background-size: 274px;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
    margin: 10px;  
    padding-right: 34px;
    position: fixed;
} 
.txt{
    background-image: url("../../assets/icon/redeem/select-amount.png");
    background-size: 274px;
    background-repeat: no-repeat;
    min-height: 80px;
    width: 100%;
    margin: 10px;   
}
}

