<ion-header>

  <ion-navbar>
    <ion-title>Payments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content" padding>
  <div class="row">
    <div class="pays col-xs-12 col-md-12">

      <h3>Pay</h3>
      <p *ngIf="!includeWalletMoney" class="pay-details"> Amount to Pay :
        <i class="fa fa-inr" aria-hidden="true"></i> {{requestData?.amount}} 
        <span *ngIf="requestData.coins">({{requestData.coins}} coins)</span>
      </p>
      <p *ngIf="includeWalletMoney" class="pay-details"> Amount to Pay :
        <i class="fa fa-inr" aria-hidden="true"></i> {{requestData?.amount-walletBalance?.balance}}
        <span *ngIf="requestData.coins">({{requestData.coins}} coins)</span>
      </p>
      <ion-item *ngIf="!hideWalletMoneyChkBox">
        <ion-label><i class="fa fa-inr" aria-hidden="true"></i> {{walletBalance?.balance?walletBalance.balance:0}} Wallet Money </ion-label>
        <ion-checkbox disabled="{{!walletBalance.balance}}" [(ngModel)]="includeWalletMoney"></ion-checkbox>
      </ion-item>
    </div>
    <div class="pays col-xs-12 col-md-12">
      <button (click)="goToMakePayment();" ion-button class="btn" full>Pay</button>
    </div>
  </div>
</ion-content>