page-check-payment {
    .content{
background-image: url("../../assets/icon/background.jpg");
    }
    .btn {
       background-image: url("../../assets/icon/bg_btn_small.jpg");
       border-radius: 30px !important;
       width: 100px;
     }
}
