<ion-header>
  <ion-navbar>
    <ion-title>Try again
      <balance-toolbar></balance-toolbar>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="login-content" padding>
  <div *ngIf="!timeout">
     <h3 *ngIf="(selectedClub.id==1)||(selectedClub.id!=1&&percentage<90)">Sorry! btter luck next time</h3>
    <h3 *ngIf="(selectedClub.id!=1)&&((percentage>=90)||(percentage>90&&percentage<100))">Sorry! You were very close to success</h3>
    <div style="text-align: center;margin-top: 50px;">
      <table style="width:100%;">
        <tr>
          <td>
            <img style="width:100px;" src="assets/icon/sorry.gif" />
          </td>
        </tr>
        <tr>
          <td><strong> Your score:{{percentage}}% </strong></td>
        </tr>
      </table>
    </div>
    <p *ngIf="(selectedClub.id==1)||(selectedClub.id!=1&&percentage<90)">Dear <strong> {{user.name}}</strong> you did Your best, do some more efforts to head toward Success </p>
    <p *ngIf="(selectedClub.id!=1)&&((percentage>=90)||(percentage>90&&percentage<100))">Dear <strong> {{user.name}}</strong> we appreciate your efforts and going to refund 50% coins of your joining fee in your wallet.
   <strong>Better luck next time</strong> </p>
    <div style="text-align: -webkit-center;">
      <table>
        <tr>
          <td style="padding: 10px;"><button (click)="goToSelectGame()" ion-button class="submit-btn" full type="button">Try again</button></td>
          <td><button (click)="goToReviewAnswer()" ion-button class="submit-btn" full type="button">Review Answer</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="timeout">
    <h3>Your Timed out</h3>
    <div style="text-align: center;">
      <table style="width:100%;">
        <tr>
          <td>
            <img style="width:100px;" src="assets/icon/timeout.gif" />
          </td>
        </tr>
      </table>
    </div>
    <p>Dear <strong> {{user.name}}</strong> your time expired please start again to win prizes </p>
    <div style="text-align: -webkit-center;">
      <table>
        <tr>
          <td style="padding: 10px;"><button (click)="goToSelectGame()" ion-button class="submit-btn" full type="button">Try again</button></td>
          <td><button (click)="goToSelectGame()" ion-button class="submit-btn" full type="button">Home</button></td>
        </tr>
      </table>
    </div>
  </div>

</ion-content>