.page-congratulation {
background-image: url("../../assets/icon/background.jpg");
.result{
  background-image: url("../../assets/icon/total-q-box.png"); 
    background-size: 274px;
    background-repeat: no-repeat;  
    min-height: 180px;
    padding: 10px;   
    background-color: dodgerblue;
    color: blue;
}
}
