.page-congratulation {
background-image: url("../../assets/icon/background.jpg");
.result{
  background-image: url("../../assets/icon/total-q-box.png"); 
    background-size: 274px;
    background-repeat: no-repeat;  
    min-height: 180px;
    padding: 10px;   
    background-color: dodgerblue;
    color: blue;
    text-align: center;
}
.btn-bg{
    background-image: url("../../assets/icon/redeem-now.png"); 
    background-size: 146px;
    background-repeat: no-repeat;  
    padding: 10px; 
    width: 53%;
    border-radius: 27px;
    background-position: center;
    padding: 17px;  
}
}
